<div class="banner" style="background-image: url('https://res.cloudinary.com/dwclozjta/image/upload/v1678290244/map_banner_upbvda.png');">
  <div class="container">
   <h1 class="main-title">STORMY <br> CROSSING</h1>
   <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678292056/arrow2_tckpcz.png" alt="arrow" class="arrow">
    <%= link_to "Discover", races_path, :class=>"btn btn-primary main-btn" %>

    <img class="boat" src="https://res.cloudinary.com/dwclozjta/image/upload/v1678282159/kisspng-sail-2016-17-es-vende-globe-france-imoca-60-boat-jules-rimet-trophy-5b5151faba80b2.9826272515320560587639_xuug15.png" alt="boat">
  </div>
</div>

<div class="section-2">
  <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678290707/wave2_tmihiu.png" alt="wave" class="wave">
  <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678291442/gouvernail_hagrb6.png" alt="gouvernail" class="gouvernail">
  <div class="container py-4">
    <h1>About Us</h1>
    <br>
    <p class="description_home">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper ex vel lectus cursus, vel ultricies dui commodo. Curabitur in elementum lorem. Etiam vel massa luctus libero varius aliquam.
    <br>
    <br>
    <br>
    In hac habitasse platea dictumst. Aliquam consequat ipsum quis elit venenatis auctor. Maecenas et orci dolor.
    <br>
    <br>
    <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper ex vel lectus cursus. Aliquam consequat ipsum quis elit venenatis auctor.
    </p>
    <br>
    <br>
    <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678293637/surligner_gqcoti.png" alt="underline" class="underline">
    <h1 style="text-align:right;position:relative">Our Races</h1>
  </div>

 <div class="cards container py-4">

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
        <h2>Title here</h2>
        <p>Short description here!</p>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
        <h2>Title here</h2>
        <p>Short description here!</p>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
        <h2>Title here</h2>
        <p>Short description here!</p>
  </div>
</div>
