<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div data-controller="windytest" data-action="click->windytest#callApiWind">
<p>get wind speed: </p>
  <p data-windytest-target = "wind_u"> wind_u</p>
  <p data-windytest-target = "wind_v"> wind_v</p>
</div>
