<div class="d-flex" style="background-color: #0A6260">
  <img src="https://images4.alphacoders.com/206/206048.jpg" class="map" alt="">
  <img src="https://www.petitesaffiches.fr/IMG/png/0b5a6dad-b0e1-d93e-998d-290e3d837c9e.png" alt="">
  <h1>Wagon Cup</h1>
  <a href=""></a>
</div>

<div class="container my-4">
  <h1>About Us</h1>
  <div class="d-flex">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper ex vel lectus cursus, vel ultricies dui commodo. Curabitur in elementum lorem. Etiam vel massa luctus libero varius aliquam. In hac habitasse platea dictumst. Aliquam consequat ipsum quis elit venenatis auctor. Maecenas et orci dolor. </p>
    <img src="https://e7.pngegg.com/pngimages/538/797/png-clipart-rudder-steering-wheel-cartoon-sailing-steering-wheel-angle-simple.png" alt="gouvernail">
  </div>
  <h1>Our races</h1>
</div>
