<div class="banner" style="background-image: url('https://res.cloudinary.com/dwclozjta/image/upload/v1678290244/map_banner_upbvda.png');">
  <div class="container">
   <h1 class="main-title">STORMY <br> CROSSING</h1>
   <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678292056/arrow2_tckpcz.png" alt="arrow" class="arrow">
    <a class="btn btn-primary main-btn" href="">Discover</a>
    <img class="boat" src="https://res.cloudinary.com/dwclozjta/image/upload/v1678355258/kisspng-sail-2016-17-es-vende-globe-france-imoca-60-boat-jules-rimet-trophy-5b5151faba80b2.9826272515320560587639_xuug15.png" alt="boat">
  </div>
</div>

<div class="section-2">
  <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678290707/wave2_tmihiu.png" alt="wave" class="wave">
  <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678291442/gouvernail_hagrb6.png" alt="gouvernail" class="gouvernail">
  <div class="container py-4">
    <h1>About Us</h1>
    <br>
    <p class="description_home">
    Our passion for the open seas and the art of sailing is what drives us to create the most realistic and immersive sailing experiences possible.
    <br>
    <br>
    <br>
    Our team of experienced game developers and sailing enthusiasts work tirelessly to create games that are both entertaining and educational, providing players with a truly authentic sailing experience.
    <br>
    <br>
    <br>
    With a focus on realism, we have developed cutting-edge technology that accurately simulates the physics of sailing, allowing players to experience the challenges and exhilaration of racing a sailboat through different weather conditions, ocean currents, and wind patterns.
    </p>
    <br>
    <br>
    <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678293637/surligner_gqcoti.png" alt="underline" class="underline">
    <h1 style="text-align:right;position:relative">Our Races</h1>
  </div>

 <div class="cards container py-4">

  <div class="card-trip">
    <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678377650/south_america_wzbmjx.jpg" />
    <div class="card-trip-infos">
        <h2>South America</h2>
        <br>
        <p>Come face will the tumultuous waters of the Indian Ocean, facing strong winds and ocean currents.</p>
        <br>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678377639/Africa_zd8rm1.jpg" />
    <div class="card-trip-infos">
        <h2>South Africa</h2>
        <br>
        <p>Embark on an exciting nautical adventure that spans over 10,000 kilometers across the Atlantic Ocean." </p>
        <br>
    </div>
  </div>
  <div class="card-trip">
    <img src="https://res.cloudinary.com/dwclozjta/image/upload/v1678377639/Africa_zd8rm1.jpg" />
    <div class="card-trip-infos">
        <h2>East Africa</h2>
        <br>
        <p>Navigate strategically to reach the finish line first and become the winner of this iconic race.</p>
        <br>
  </div>
</div>
