.btn-navigation {
  border-radius: 50%;
  background-color: transparent;
  height: 60px;
  width: 14px;
  padding: 20px;
  padding-inline: 28px;
  padding-top: 26px;
  margin: auto auto;
}

.fill {
  fill: #F9D456 !important;
  opacity: 0.7;
}

.cls-2 {
  stroke: #f8f9fa !important;
  stroke-width: 3px !important;
  }
