
.card-category {
  background-size: cover;
  background-position: center;
  height: 239px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 20px;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

 .card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;

}

.card-trip > img {
  height: 190px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-align: center;
}

.card-log-in {
  background-color: $beige;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  height: 595px;
}

.poly {
  background-size: cover;
  background-position: center;
  background-color: #00000056;
  width: 220px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 1px solid #fff;
  margin-left: 1135px;
  margin-top: 50px;
  z-index: 2;
}

.message-direction {
  background-size: cover;
  background-position: center;
  background-color: #00000056;
  width: 200px;
  height: 33px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 1px solid #fff;
  z-index: 2;
}

.speed-boat {
  display: flex;
  justify-content: center;
}
