a.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl {
  display: none !important;
}
.mapboxgl-ctrl-attrib {
  display: none !important;
}

.section-races {
  background-image: url("https://res.cloudinary.com/dwclozjta/image/upload/v1678378027/arrow2_wqbyvc.png");
  background-size: cover;
  background-position: top;
}
