<% if item == "Poppy" %>
  <div class="">
    <%= item %>
  </div>
<% elsif item == "Lemon" %>
  <div class="">
    <%= item %>
  </div>
<% else item == "Navy" %>
  <div class="">
    <%= item %>
  </div>
<% end %>
