<div id="banner">

  <div id="beige_box">

    <div id="white-box" class="d-flex">

      <div>
        <div>
          <img src="" alt="">
        </div>
        <div>
          <img src="" alt="">
        </div>
      </div>

      <div>
        <h1>Pimp your boat</h1>
        <div class= "card-pimp">


          <%= simple_form_for [@race, @boat] do |f| %>
            <%= f.input :name, input_html: { class: "name-boat" } %>

            <%= f.input :color, collection: ['poppy', 'lemon', 'navy'],
                        as: :radio_buttons, label_method: lambda { |item| render "label", item: item } %>
          <% end %>

        </div>
      </div>

    </div>

  </div>

</div>
